.filter-container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.filter-container button {
    background-color: #F3F4F6;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.filter-container button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
}

table {
    width: 50%;
    margin: auto;
    margin-top: 60px;
    padding: 5px 20px 20px 20px;
    border-radius: 10px;
    font-size: 20px;
    border-collapse: collapse;
}

th {
    font-size: 30px;
    text-align: left;
}

th, td {
    padding: 5px;
    padding-bottom: 10px;
    position: relative;
}

.edit-dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-input-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    width: 25px;
}

img:hover {
    cursor: pointer;
}

.tr-input input {
    padding: 5px;
    width: 150px;
}

.autosearch {
    margin: 0;
    padding: 0;
    background-color: #F3F4F6;
    list-style: none;
    position: absolute;
    width: 150px;
    top: -9px;
    cursor: pointer;
}

textarea {
    all: unset;
    resize: none;
    overflow: hidden;
    caret-color: transparent;
    width: 100%;    
    display: block;
    height: 30px;
    padding-left: 5px;
}